<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EasyDock{% endblock %}</title>
    {{ tailwind_css() }}
    <script src="{{ static('vendor/lucide.min.js') }}" defer></script>
    <script src="{{ static('vendor/htmx.min.js') }}" defer></script>
    <script src="{{ static('js/index.js') }}" defer></script>
    <script src="{{ static('vendor/alpine.min.js') }}" defer></script>
    {% block head %}{% endblock %}
</head>
<body class="w-full h-screen overflow-hidden bg-surface-0 text-text">
    {% block body %}
    {% endblock %}
</body>
</html>
